body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0%;
}
div {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}
.box1 {
  height: 500px;
  width: 500px;
  background-color: blue;
  color: white;
}
span {
  position: fixed;
  left: 220px;
}
.box2 {
  height: 400px;
  width: 400px;
  background-color: rgb(204, 8, 214);
  color: white;
  position: relative;
  top: 45px;
  left: 50px;
}
.box3 {
  height: 300px;
  width: 300px;
  background-color: rgb(18, 246, 208);
  color: white;
  position: relative;
  top: 45px;
  left: 50px;
}
.box4 {
  height: 200px;
  width: 200px;
  background-color: rgb(29, 105, 149);
  color: white;
  position: relative;
  top: 45px;
  left: 50px;
}
.Box {
  height: fit-content;
  width: fit-content;
}
.Box:hover {
  box-shadow: 12px 12px 12px rgb(177, 174, 170);

  background-color: #766951;
  transform: scale(1.05);
}
