@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --font-color: #032b7a;
  --font-hover: #96ffbd;
  --secondfont-color:rgb(220, 36, 115);
  --secondfont-hover: #a27732;
  --title-color: #4e9dd3;
  --hover-color: #5f205f;
  --clear-color: rgb(249, 245, 245);
}
* {
  margin: unset;
  padding: unset;
  box-sizing: border-box;
}
html {
  font-family: "Poppins", serif;
  line-height: 1.5rem;
}
body {
  min-height: 100dvh;
  min-height: 100vh;
  color: var(--font-color);
  background-color: #fbeae7;
  display: grid;
  grid-template-columns: auto 1fr;
}
#sidebar {
  box-sizing: border-box;
  height: fit-content;
  width: 250px;
  padding: 5px 1em;
  background-color: rgb(205, 232, 242);
  color: var(--secondfont-color);
  position: sticky;
  top: unset;
  align-self: start;
}
#sidebar ul {
  list-style-type: none;
}
#sidebar > ul > li:first-child {
  display: flex;
  justify-content: flex-end;
}
#sidebar ul li .active {
  color: var(--secondfont-color);
}
i {
  margin: 10px;
  color: var(--font-color);
}
#sidebar a,
#sidebar .dropdown-btn,
#sidebar .logo {
  border-radius: 0.5em;
  padding: 0.85em;
  text-decoration: none;
  color: var(--hover-color);
  display: flex;
  align-items: center;
  gap: 1em;
}
.dropdown-btn {
  /* width: 100%; */
  text-align: left;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}
#sidebar span,
#sidebar .dropdown-btn span {
  flex-grow: 1;
}
#sidebar a:hover,
#sidebar .dropdown-btn :hover {
  background-color: var(--clear-color);
}
#sidebar .sub-menu{
  display: grid;
  grid-template-rows: 0fr;
  transition: 300ms ease-in-out;
  >div{
    overflow: hidden;
  }
}
#sidebar .sub-menu.show{
 grid-template-rows: 1fr;
}
.dropdown-btn i{
  transition: 200ms ease;
}
.rotate i:last-child{
  rotate: 180deg
}
#sidebar .sub-menu a{
  padding-left: 2em;
}
.toggle-btn{
  margin-left: auto;
  padding: 1em;
  border: none;
  border-radius: .5em;
  background: none;
  cursor: pointer;
}
i{
  transition: rotate 150ms ease;
}
.toggle-btn:hover{
  background-color: var(--clear-color);
}





main {
  padding: min(30px, 7%);
}
main p {
  color: var(--font-color);
  margin-top: 5px;
  margin-bottom: 15px;
}
.container {
  border: 1px solid var(--title-color);
  border-radius: 1 em;
  margin-bottom: 20px;
  padding: min(3em, 15%);
}
h2,
p {
  margin-top: 1 em;
}

